/* TILE CONTAINER */
.tileContainer {
    gap: 10px;
}

/* TILE DESIGN */
.customTile {
    width: 24% !important;
    height: 150px;
    margin: 0 !important;
    border-radius: 16px;
    background-color: #f5f7fa !important;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

/* REMOVE DEFAULT TILE MARGINS*/
.sapMGT {
    margin: 0 !important;
}

/* CENTER TILE CONTENT */
.customTile .sapMGTContent {
    display: flex;
    align-items: center;
    justify-content: center;
}


.customTile .sapMNCValue {
    font-size: 2.5rem;
}

.sapUiCompFilterBarNoFiltersText {
    display: none !important;
}